*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
   
    /* background-color: #0e2d56; */
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter: blur(8px); */
}
.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(250, 250, 250); */
    width: 70%;
    height: 50vh;
    color: #fff;
    border-radius: 30px;
    text-align: center;
}
.clock div{
    margin: 0px 30px;
    font-size: 7rem;
    font-weight: 700;
    border:3px solid #fff;
    padding: 70px 110px;
    border-radius: 50px;
    box-shadow: 0px 12px 76px rgb(0 ,0, 0,0.80)
}
.bg-img{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: blur(8px);
}
.heading{
    position: absolute;
    top: -100px;
    font-size: 5rem;
    color: #effb06;
    transition: 0.5s;
}
.heading:hover{
    transform: translateY(-40px);
}
span{
    color: #fff;
}
.clock2{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    color: #effb06;
    position: absolute; 
    left: 600px;
    top: 400px; 
    /* text-align: center; */
}
.date{
    margin: 0px 10px;
}
.month{
    margin: 0px 10px;
}
.day{
    margin: 0px 10px;
}
.year{
    margin: 0px 10px;
}
.heading2{
    position: absolute;
    top: 500px;
    right: 60px;
    color: #effb06;
    font-size: 16px;
    transition: 0.5s;
}
.heading2:hover{
    transform: translateX(-40px);
}
.hours{
    transition: 0.5s;
}
.hours:hover{
    transform:translateY(-30px);
}
.minutes{
    transition: 0.5s;
}
.minutes:hover{
    transform:translateY(-30px);
}
.seconds{
    transition: 0.5s;
}
.seconds:hover{
    transform:translateY(-30px);
}